@import 'variables';
@import 'mixins';

.about {
  font-family: $lato;
  margin-bottom: 80px;

  p {
    text-align: center;
    line-height: 1.8em;
    font-size: 22px;
    color: $black;
    margin: 0 0 20px 0;

    a {
      @include external-link($blue);
      font-weight: 700;
    }
  }
}
