.homePage {
  .homePage__hello {
    margin-top: 50px;

    .hello__hi, .hello__introduction {
      color: #2980b9;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center;
    }

    .hello__hi {
      font-size: 90px;
    }

    .hello__introduction {
      font-size: 50px;
    }
  }

  .homePage_portrait {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }
  }
}
