/* main */

html, body {
  width: 100%;
}

body {
  background-image: url(../images/white_wall.png);
}

.main {
  width: 100%;
  height: 100%;
}

.sidebarOpener {
  font-size: 32px;
  color: #7f8c8d;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
