@import 'animations';

@mixin external-link($color) {
  display: inline-block;
  text-decoration: none;
  color: $color;
  transition: all .3s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:hover, &:focus, &:active {
    @include bob();
  }
  &:active {
    color: $color;
  }
  &:visited {
    color: $color;
  }
}
