.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #444;
  width: 300px;
  -webkit-transition: all .3s;
  transition: all .3s;

  &.sidebar--hidden {
    right: -300px;
  }

  .sidebar__header {
    margin: 15px;
    color: #fff;
    font-size: 26px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .sidebar__closer {
      float: left;
      cursor: pointer;
    }

    .sidebar__socialLinks {
      float: right;

      a {
        &:active {
          color: white;
        }
        &:visited {
          color: white;
        }
      }
    }
  }

  .sidebar__navLinks {
    margin-top: 35px 0 0 0;
    font-size: 32px;

    li {
      list-style-type: none;
      padding: 10px 0;

      a {
        color: white;
        text-decoration: none;

        &.active {
          color: #e74c3c;
        }
      }
    }
  }
}
