@import 'variables';

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $dark-blue;
  width: 300px;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;

  &.sidebar--hidden {
    right: -300px;
  }

  .sidebar__header {
    margin: 15px;
    color: white;
    font-size: 26px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .sidebar__closer {
      float: left;
      cursor: pointer;
    }

    .sidebar__socialLinks {
      float: right;
      color: white;

      a {
        &:active {
          color: white;
        }
        &:visited {
          color: white;
        }

        span.fa {
          color: white;
        }
      }
    }
  }

  .sidebar__navLinks {
    margin-top: 35px 0 0 0;
    font-size: 32px;

    li {
      list-style-type: none;
      padding: 10px 0;

      a {
        cursor: pointer;
        font-family: $lato;
        font-weight: 500;
        color: white;
        text-decoration: none;
      }
    }
  }
}
