.sidebar {
  position: fixed;
  font-size: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #444;
  width: 300px;
  -webkit-transition: all .3s;
  transition: all .3s;

  &.sidebar--hidden {
    right: -300px;
  }

  .sidebar__closer {
    margin: 15px 0 0 15px;

  }

  .sidebar__navlinks {
    margin-top: 35px 0 0 0;

    li {
      list-style-type: none;
      padding: 10px 0;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
