@import 'variables';

.welcome {
  margin-top: 50px;
  margin-bottom: 100px;

  .welcome__hello {

    .hello__hi, .hello__introduction {
      color: $blue;
      font-family: $lato;
      font-weight: 300;
      text-align: center;
    }

    .hello__hi {
      font-size: 90px;
    }

    .hello__introduction {
      font-size: 50px;
    }
  }

  .welcome_portrait {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      transform: translateX(-15px);

      @media screen and (min-width: $screen-width-md) {
        width: 500px;
      }
    }
  }
}
